<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-BoldCondensed.ttf</string>
		<string>Roboto-BoldCondensedItalic.ttf</string>
		<string>Roboto-Condensed.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-CondensedItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Ubuntu-Bold.ttf</string>
		<string>Ubuntu-BoldItalic.ttf</string>
		<string>Ubuntu-Italic.ttf</string>
		<string>Ubuntu-Light.ttf</string>
		<string>Ubuntu-LightItalic.ttf</string>
		<string>Ubuntu-Medium.ttf</string>
		<string>Ubuntu-MediumItalic.ttf</string>
		<string>Ubuntu-Regular.ttf</string>
		<string>Mulish-Black.ttf</string>
		<string>Mulish-BlackItalic.ttf</string>
		<string>Mulish-Bold.ttf</string>
		<string>Mulish-ExtraBold.ttf</string>
		<string>Mulish-BoldItalic.ttf</string>
		<string>Mulish-ExtraBoldItalic.ttf</string>
		<string>Mulish-ExtraLight.ttf</string>
		<string>Mulish-ExtraLightItalic.ttf</string>
		<string>Mulish-Medium.ttf</string>
		<string>Mulish-MediumItalic.ttf</string>
		<string>Mulish-Regular.ttf</string>
		<string>Mulish-SemiBold.ttf</string>
		<string>Mulish-SemiBoldItalic.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
